* {
  margin: 0;
  padding: 0;
}
#root {
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
}

.header_main {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  background-color: chocolate;
}

.header_main button {
  padding: 10px 20px;
  box-shadow: 10px 10px 10px 2px  rgb(153, 78, 25);
  cursor: pointer;
}
